In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Import data set

In [2]:
df = pd.read_csv('weight-height - weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# Separate X and Y. (y=Gender)

In [4]:
X = df[['Height', 'Weight']]
Y = df[['Gender']]

In [5]:
X.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [6]:
Y.head()

  Gender
0   Male
1   Male
2   Male
3   Male
4   Male

# Train = 70%, Test = 30%

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

In [9]:
x_train.head()

         Height      Weight
6070  62.302497  128.387109
669   66.455602  188.974847
2857  68.138426  192.570363
2128  69.375658  196.225086
1339  61.310798  150.316449

In [10]:
y_train.head()

      Gender
6070  Female
669     Male
2857    Male
2128    Male
1339    Male

In [11]:
x_train.shape

(5988, 2)

In [12]:
x_test.shape

(2567, 2)

# Apply KNN Classifier

In [13]:
from sklearn.neighbors import KNeighborsClassifier

In [14]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [15]:
knn.fit(x_train, y_train)

KNeighborsClassifier()

In [16]:
predicted_value = knn.predict(x_test)

In [17]:
predicted_value

array(['Male', 'Female', 'Female', ..., 'Male', 'Female', 'Female'],
      dtype=object)

In [18]:
y_test.head()

      Gender
4877    Male
7402  Female
5724  Female
5310  Female
1752    Male

In [19]:
y_test['predicted_Y_value'] = knn.predict(x_test)

In [20]:
y_test.head()

      Gender predicted_Y_value
4877    Male              Male
7402  Female            Female
5724  Female            Female
5310  Female            Female
1752    Male              Male

In [21]:
y_test.drop('predicted_Y_value', axis = 1, inplace = True)

In [22]:
y_test.head()

      Gender
4877    Male
7402  Female
5724  Female
5310  Female
1752    Male

# Evaluate the Model by only Accuracy.

In [23]:
KNN_training_accuracy = knn.score(x_train, y_train)

In [24]:
KNN_training_accuracy

0.9293587174348698

In [25]:
KNN_testing_accurracy = knn.score(x_test, y_test)

In [26]:
KNN_testing_accurracy

0.9131281651733542