In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Import data set

In [2]:
df = pd.read_csv('weight-height - weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# Separate X (Gender, Height) and Y (y=Weight).

In [4]:
X = df[['Gender', 'Height']]
Y = df[['Weight']]

In [5]:
X = pd.get_dummies(X, columns = ['Gender'], drop_first = True, dtype = int) 
# In scikit learn requires numerical input feature. Gender coumn contains string which need to be covert numerical number

In [6]:
X.head() # herer 1 = Male and 0 = Female

      Height  Gender_Male
0  73.847017            1
1  68.781904            1
2  74.110105            1
3  71.730978            1
4  69.881796            1

In [7]:
Y.head()

       Weight
0  241.893563
1  162.310473
2  212.740856
3  220.042470
4  206.349801

# Train = 70%, Test = 30%

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

In [10]:
x_train.head() # 70%  Data

         Height  Gender_Male
5739  65.403026            0
2344  71.159400            1
6157  60.889501            0
7074  68.710845            0
5138  63.037705            0

In [11]:
y_train.head()

          Weight
5739  146.950389
2344  192.351117
6157  113.062458
7074  178.870748
5138  127.070394

In [12]:
x_test.head()

         Height  Gender_Male
2758  66.559730            1
3954  74.350444            1
3687  72.535579            1
6644  63.939926            0
2221  64.804140            1

In [13]:
y_test.head()

          Weight
2758  179.216570
3954  204.412960
3687  205.561789
6644  149.857247
2221  165.604490

In [14]:
x_train.shape

(5988, 2)

In [15]:
x_test.shape

(2567, 2)

# Apply Linear Regression

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
reg = LinearRegression()

In [18]:
reg.fit(x_train, y_train)

LinearRegression()

In [19]:
predicted_value = reg.predict(x_test)

In [20]:
predicted_value

array([[172.13750052],
       [218.78671305],
       [207.91966911],
       ...,
       [167.07679924],
       [138.42656444],
       [152.10054178]])

In [21]:
y_test.head()

          Weight
2758  179.216570
3954  204.412960
3687  205.561789
6644  149.857247
2221  165.604490

In [22]:
y_test['predicted_y'] = reg.predict(x_test)

In [23]:
y_test.head()

          Weight  predicted_y
2758  179.216570   172.137501
3954  204.412960   218.786713
3687  205.561789   207.919669
6644  149.857247   137.151411
2221  165.604490   161.625384

In [24]:
y_test.drop('predicted_y', axis=1, inplace = True)

In [25]:
y_test.head()

          Weight
2758  179.216570
3954  204.412960
3687  205.561789
6644  149.857247
2221  165.604490

# Testing and Trainig Accuracy

In [26]:
LR_training_accuracy = reg.score(x_train, y_train)

In [27]:
LR_training_accuracy

0.9012752832729254

In [28]:
LR_testing_accuracy = reg.score(x_test, y_test)

In [29]:
LR_testing_accuracy

0.8968297560487373

# MSE

In [30]:
from sklearn.metrics import mean_squared_error

In [31]:
mse = mean_squared_error(y_test, reg.predict(x_test))

In [32]:
mse

104.82247315257895

# KNN Regression Sklearn

In [33]:
from sklearn.neighbors import KNeighborsRegressor

In [34]:
knn = KNeighborsRegressor(n_neighbors = 5)

In [35]:
knn.fit(x_train, y_train)

KNeighborsRegressor()

In [36]:
predicted_knn_value = knn.predict(x_test)

In [37]:
predicted_knn_value

array([[168.9808671 ],
       [212.02864622],
       [215.19226246],
       ...,
       [157.49414164],
       [136.47900268],
       [145.64475392]])

In [38]:
y_test['predicted_knn_value'] = knn.predict(x_test)

In [39]:
y_test.head()

          Weight  predicted_knn_value
2758  179.216570           168.980867
3954  204.412960           212.028646
3687  205.561789           215.192262
6644  149.857247           135.521253
2221  165.604490           156.961595

In [40]:
y_test.drop('predicted_knn_value', axis=1, inplace = True)

In [41]:
y_test.head()

          Weight
2758  179.216570
3954  204.412960
3687  205.561789
6644  149.857247
2221  165.604490

# Testing and Trainig Accuracy for KNN

In [42]:
KNN_training_accuracy = knn.score(x_train, y_train)

In [43]:
KNN_training_accuracy

0.920967148809832

In [44]:
KNN_testing_accurracy = knn.score(x_test, y_test)

In [45]:
KNN_testing_accurracy

0.8751191969300702

# MSE

In [46]:
from sklearn.metrics import mean_squared_error

In [47]:
mse_1 = mean_squared_error(y_test, reg.predict(x_test))

In [48]:
mse_1

104.82247315257895

# Coparison KNN Regression and Linear Regression

In [49]:
# here is the comparison between KNN regression and Linear Regression

print(f'KNN regression Training Accuracy is: {KNN_training_accuracy} and Linear Regression is: {LR_training_accuracy}')
print(f'KNN regression Testing Accuracy is: {KNN_testing_accurracy} and Linear Regression is: {LR_training_accuracy}')
print(f'KNN regression MSE is: {mse_1} Linear Regression: {mse}')

KNN regression Training Accuracy is: 0.920967148809832 and Linear Regression is: 0.9012752832729254
KNN regression Testing Accuracy is: 0.8751191969300702 and Linear Regression is: 0.9012752832729254
KNN regression MSE is: 104.82247315257895 Linear Regression: 104.82247315257895